/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
 }

 body {
   width: 100%;
   margin: 8px 0px;
 }

 .main {
   padding-bottom: 50px;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 .decorated-link {
   color: dodgerblue;
 }

 .decorated-link:hover {
   text-decoration: underline;
 }

 h1, h2, h3, h4, h5 {
   width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }

 h1, h2 {
  color: dodgerblue;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
 }

.button-stack {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 87%;
  background-color: lightgray;
}