// Place all the styles related to the ScoreCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.score-card-box {
  width: 80%;
  background-color: lightgray;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

.score-card-form-box {
  width: 70%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692);
  padding: 10px 8px;
  background-color: rgba(250, 235, 215, 0.705);
}

.score-card-form-box h4 {
  color: black;
  text-shadow: none;
  margin: 0px 5px;
  text-align: left
}